name: btserver

services:
  btserver:
    image: cego1200/btserver:latest
    container_name: btserver
    restart: unless-stopped
    environment:
      
      ENABLE_YTDLP_FETCHER: "NO"
      # ---
      # YouTube support
      #
      # By enabling this option, you explicitly request the use of the external
      # tool "yt-dlp" to access content from third-party platforms such as YouTube.
      #
      # The use of such platforms is subject to their respective terms of service.
      # You are responsible for ensuring that your usage complies with those terms.

      API_PORT: "38080"
      WEBUI_PORT: "38082"
      WEB_DASH_PORT: "38083"
      DISABLE_WEBUI: "0"
      DISABLE_API: "0"
      FFMPEG_LOGLEVEL: "info"
      YTDLP_PATH: "/opt/yt-dlp/yt-dlp"
      YTDLP_TIMEOUT: "60"
      YTDLP_JS_RUNTIMES: "node"
      TRANSCODE_USE_STUBS: "0"
      TRANSCODE_USE_MBUFFER: "0"
      TRANSCODE_AUTOSTOP_IDLE: "0"
      TRANSCODE_STALL_TIMEOUT: "5"
      TRANSCODE_MAX_RESTARTS: "3"
      TRANSCODE_RESTART_DELAY: "3"
      TRANSCODE_WORK_DIR: /data/runs
      TRANSCODE_PLACEHOLDER_MODE: "freeze"
      LOG_CLEANUP_ENABLED: "1"
      LOG_CLEANUP_INTERVAL_HOURS: "24"
      THUMB_CACHE_DIR: /data/thumb_cache
      THUMB_TTL_SECONDS: "86400"
      THUMB_PREFETCH_ENABLED: "1"
      THUMB_PREFETCH_DELAY: "0.15"
      VIDEOINFO_PREFETCH_ENABLED: "1"
      VIDEOINFO_PREFETCH_DELAY: "0.25"
      YTDLP_FILE_CACHE_DIR: /data/ytdlp_cache
      YTDLP_FILE_CACHE_ENABLED: "1"
      YTDLP_PREFETCH_ENABLED: "0"
      YTDLP_PREFETCH_DELAY: "2.5"
      CHANNEL_VIDEOS_BATCH_SIZE: "50"

    ports:
      - "38080:38080"
      - "38082:38082"
      - "38083:38083"
      - "5003:5003"
    volumes:
      - ./data/runs:/data/runs
      - ./data/thumb_cache:/data/thumb_cache
      - ./data/ytdlp_cache:/data/ytdlp_cache
      - yt_dlp_bin:/opt/yt-dlp

volumes:
  yt_dlp_bin:
